/*Inserta tu Codigo Responsive*/
@media (max-width: 768px) {

    .header {
        position: absolute;
    }
    .main-chart {
        padding-top: 0px;
    }
    #sidebar {
        height: auto;
        overflow: hidden;
        position: absolute;
        width: 100%;
        z-index: 1001;
    }
    #main-content,
     #sidebar {
        margin: 0px;
    }
    .btn {
        margin-bottom: 5px;
    }
    ul.sidebar-menu li .sub li a {
        padding: 0;
    }
    .img-responsive {
        width: 100%;
    }
}